
* {
  box-sizing: border-box;
}

#demo-simple-select-label{
  color: 'rgb(252, 102, 2) !important'
}

/* .App{
  align-items: center;
} */

/* .search-bar {
  display: grid;
  

} */

.grid-scale{
  border-color: black;
}

body {
  font-weight: bold;
  font-family: cursive;

}

.app #Grid{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


main {
  min-height: 100vh;
}
